<nav id="nav-menu-container">
	<ul class="nav-menu">
			<li class="menu-has-children"><a href="{{site.baseurl}}/en/welcome.html"><span class="none"></span>About</a>
				<ul class="nav nav-list">
					<li><a href="{{site.baseurl}}/en/welcome.html"><span class="none"></span>About</a></li>
					<li class=""><a href="{{site.baseurl}}/en/team.html"><span class="none"></span>Project Team</a></li>
					<li class=""><a href="{{site.baseurl}}/en/licenses.html"><span class="none"></span>Project Licenses</a></li>
					<li class=""><a href="{{site.baseurl}}/en/dependency.html"><span class="none"></span>Dependency Management</a></li>
					<li class=""><a href="{{site.baseurl}}/en/enterprise.html"><span class="none"></span>Community vs Enterprise</a></li>
					<li class="menu-has-children"><a href="#"><span class="none"></span>Source Repository</a>
						<ul class="nav nav-list">
							<li ><a href="https://github.com/MaxKeyTop/MaxKey" class="externalLink" title="GitHub">GitHub</a></li>
							<li ><a href="https://gitee.com/maxkeytop/MaxKey" class="externalLink" title="码云">码云</a></li>
						</ul>
					</li>
					<li><a href="{{site.baseurl}}/en/download.html" title="Download"><span class="none"></span>Download</a></li>
				</ul>
			</li>
			
			<li class="menu-has-children">
				<a href="#"><span class="icon-chevron-down"></span>Access</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/en/ui.html"><span class="none"></span>Access UI</a></li>
					<li class="menu-has-children">
						<a href="#"><span class="icon-chevron-down"></span>Login Integration</a>
						<ul class="nav nav-list">
							<li class=""><a href="{{site.baseurl}}/en/authn/captcha.html"><span class="none"></span>CAPTCHA</a></li>
							<li class=""><a href="{{site.baseurl}}/en/authn/mfa.html"><span class="none"></span>Two Factor Authentication</a></li>
							<li class=""><a href="{{site.baseurl}}/en/authn/social.html"><span class="none"></span>Social Integration</a></li>
							<li class=""><a href="{{site.baseurl}}/en/authn/google.html"><span class="none"></span>TOTP/Google Authenticator</a></li>
							<li class=""><a href="{{site.baseurl}}/en/authn/kerberos.html"><span class="none"></span>Kerberos/SPNEGO/AD</a></li>
							<li class=""><a href="{{site.baseurl}}/en/authn/ldap.html"><span class="none"></span>LDAP</a></li>
							<li class=""><a href="{{site.baseurl}}/en/authn/fgpwd.html"><span class="none"></span>Forget Password</a></li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="#"><span class="icon-chevron-down"></span>SSO Integration</a>
						<ul class="nav nav-list">
							<li class=""><a href="{{site.baseurl}}/en/sso/oauth2.html"><span class="none"></span>OAuth2</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/jwt.html"><span class="none"></span>JWT</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/oidc.html"><span class="none"></span>OIDC</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/cas.html"><span class="none"></span>CAS</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/tokenbased.html"><span class="none"></span>TokenBased</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/formbased.html"><span class="none"></span>FormBased</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/saml_aly.html"><span class="none"></span>Alicloud(SAML)</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/saml_txy.html"><span class="none"></span>Tencent cloud(SAML)</a></li>
							<li class=""><a href="{{site.baseurl}}/en/sso/saml_salesforce.html"><span class="none"></span>Salesforce(SAML)</a></li>
						</ul>
					</li>
				</ul>
				
			</li>
			<li class="menu-has-children"><a href="{{site.baseurl}}/en/im.html"><span class="none"></span>Identity</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/en/im.html"><span class="none"></span>Identity Architecture</a></li>
					<li class=""><a href="{{site.baseurl}}/en/ui_mgt.html"><span class="none"></span>Management UI</a></li>
				</ul>
			</li>
			<li class="menu-has-children"><a href="{{site.baseurl}}/en/welcome.html"><span class="none"></span>Configurations</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/en/tutorial.html"><span class="none"></span>Getting started</a></li>
					<li class=""><a href="{{site.baseurl}}/en/configuration.html"><span class="none"></span>Basic Configuration</a></li>
					<li class=""><a href="{{site.baseurl}}/en/ha.html"><span class="none"></span>High Availability</a></li>
					<li class=""><a href="{{site.baseurl}}/en/development.html"><span class="none"></span>Developer Guide</a></li>
				</ul>
			</li>
			
			<li class="menu-has-children">
				<a href="#"><span class="icon-chevron-down"></span>MaxKey College</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/en/protocols/sso.html"><span class="none"></span>SSO Overview</a></li>
					<li><a href="{{site.baseurl}}/en/slo.html" title="Single Logout"><span class="none"></span>Single Logout(SLO)</a></li>
					<li><a href="{{site.baseurl}}/en/glossary.html" title="Glossary"><span class="none"></span>Glossary</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/oauth2.html"><span class="none"></span>OAuth2 Intros</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/jwtintros.html"><span class="none"></span>JWT Intros</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/saml.html"><span class="none"></span>SAML Intros</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/openid.html"><span class="none"></span>OIDC Intros</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/cas.html"><span class="none"></span>CAS Intros</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/tokenbased.html"><span class="none"></span>TokenBased Intros</a></li>
					<li class=""><a href="{{site.baseurl}}/en/protocols/formbased.html"><span class="none"></span>FormBased Intros</a></li>
					
					
				 </ul>
			</li>
			<li class="menu-has-children">
				<a href="{{site.baseurl}}/zh/"><span class="icon-chevron-down"></span>中文</a>
				<!--<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/zh/"><span class="none"></span>中文</a></li>
					<li><a href="{{site.baseurl}}/en/" title="Single Logout"><span class="none"></span>English</a></li>
				 </ul>-->
			</li>
			
		</ul>
</nav>
<!-- #nav-menu-container 
    <li class="menu-active"><a href="#body">Home</a></li>
-->


