<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="en">
{% include en/head.html %}
<body   id="body" >
	<div id="preloader"></div>

	<section id="topbar" class="d-none d-lg-block">
		<div class="container clearfix">
		  <div class="contact-info float-left">
			<i class="fa fa-paper-plane"></i> Last Published: {{ site.publishDate }}| Version: {{ site.publishVesion }}
		  </div>
		  <div class="social-links float-right">
			<a href="#" class="twitter"><i class="fa fa-qq"></i>434469201</a>
			<i class="fa fa-envelope-o"></i> <a href="mailto:maxkeysupport@163.com">maxkeysupport@163.com</a>
		  </div>
		</div>
	</section>
  
	{% include en/header.html %} 
  
	<section id="intro" class="wow fadeIn">

		<div class="intro-content">
		  <h2>Connect <br><span>In </span><br>Security!</h2> 
		  <div>
			<a href="{{ "/en/tutorial.html" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" class="btn-get-started scrollto">
				Getting started »
			</a>
			<a href="{{ "/zh/about/cevsenterprise.html" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" class="btn-projects-enterprise scrollto">Enterprise<i class="fa  fa-registered" aria-hidden="true"></i></a>
			<a href="https://gitee.com/dromara/MaxKey"  class="btn-projects-gitee scrollto">
				MaxKey<i class="fa fa-at" aria-hidden="true"></i><img src="{{ "/static/images/gitee.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" width="24px">
			</a>
			<a href="https://github.com/dromara/MaxKey" class="btn-projects-github scrollto">
				MaxKey<i class="fa fa-at" aria-hidden="true"></i><img src="{{ "/static/images/github.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" width="24px">
			</a>
			
		  </div>
		</div>

		<div id="intro-carousel" class="owl-carousel" >
		  <div class="item" style="background-image: url('{{ "/static/images/home/intro-carousel/1.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}');"></div>
		  <div class="item" style="background-image: url('{{ "/static/images/home/intro-carousel/2.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}');"></div>
		  <div class="item" style="background-image: url('{{ "/static/images/home/intro-carousel/3.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}');"></div>
		  <div class="item" style="background-image: url('{{ "/static/images/home/intro-carousel/4.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}');"></div>
		  <div class="item" style="background-image: url('{{ "/static/images/home/intro-carousel/5.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}');"></div>
		</div>
	</section><!-- #intro -->
  
	<main id="main"  >
		<section id="about" class="wow fadeInUp">
		  <div class="container">
			<div class="row">
			  <div class="col-lg-6 about-img">
				<img src="{{ "/static/images/home/about-img.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" alt="">
			  </div>

			  <div class="col-lg-6 content">
				<h2>Leading-Edge IAM Products</h2>
				<h3>MaxKey Single Sign On System(SSO)，Maxkey is Marx's key, which means the Max key , is Leading-Edge Enterprise-Class IAM Identity and Access management product for Every People and Every Application。</h3>

				<ul>
				  <li><i class="fa fa-check-circle-o"></i> Unified authentication and single sign on, simplify the process of account login, protect the security of account and password, and manage the account uniformly.</li>
				  <li><i class="fa fa-check-circle-o"></i> Provides SIMPLE, STANDARD, SECURE and OPEN identity management (IDM), identity authentication (AM), single sign on (SSO), resource management and rights management(RBAC).</li>
				  <li><i class="fa fa-check-circle-o"></i> Standard security policy includes password policy, access policy; post security audit, user life cycle audit, access behavior record traceability audit, security compliance audit, security risk warning。</li>
				</ul>

			  </div>
			</div>

		  </div>
		</section><!-- #about -->
		
		<section id="services">
		  <div class="container">
			<div class="section-header">
			  <h2>Product Features</h2>
			  <p>Maxkey can quickly carry out unified management and synchronization of enterprise users and institutions, and realize the management of user life cycle; it can quickly complete the integration of application authentication through standard protocol, and support the access of PC, tablet and mobile phone devices。</p>
			</div>

			<div class="row">
			 <div class="col-lg-6">
				<div class="box wow fadeInLeft">
				  <div class="icon"><i class="fa fa-sitemap"></i></div>
				  <h4 class="title"><a href="">Building Directory Service</a></h4>
				  <p class="description">
				  Unify enterprise organization and user master data, construct enterprise directory service。
				  </p>
				</div>
			  </div>

			   
			  <div class="col-lg-6">
				<div class="box wow fadeInRight">
				  <div class="icon"><i class="fa fa-key"></i></div>
				  <h4 class="title"><a href="">Single sign on</a></h4>
				  <p class="description">
				   Once Login, Access all authorized applications。
				  </p>
				</div>
			  </div>

			  <div class="col-lg-6">
				<div class="box wow fadeInLeft">
				  <div class="icon"><i class="fa fa-puzzle-piece"></i></div>
				  <h4 class="title"><a href="">Standard Protocol</a></h4>
				  <p class="description">
					OAuth 2.0/OpenID Connect、SAML 2.0、JWT、CAS、SCIM2.0, etc。
				  </p>
				</div>
			  </div>

			<div class="col-lg-6">
				<div class="box wow fadeInRight">
				  <div class="icon"><i class="fa fa-wechat"></i></div>
				  <h4 class="title"><a href="">Social Account Integration</a></h4>
				  <p class="description">
					Wechat, QQ, nail, microblog, Microsoft, Google, Facebook and other social accounts login trust。
				  </p>
				</div>
			  </div>

			  <div class="col-lg-6">
				<div class="box wow fadeInLeft">
				  <div class="icon"><i class="fa  fa-anchor"></i></div>
				  <h4 class="title"><a href="">Multi-Factor Authentication</a></h4>
				  <p class="description">
					Support CAPTCHA, SMS , Google / Microsoft authenticator / freeotp / TOTP or HOTP。
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInRight" data-wow-delay="0.2s">
				  <div class="icon"><i class="fa fa-balance-scale"></i></div>
				  <h4 class="title"><a href="">Identity lifecycle management</a></h4>
				  <p class="description">Provides standard REST and SCIM2.0 interface to easily complete the Identity synchronization of the organization. It is based on the management architecture of Apache Kafka and connector。</p>
				</div>
			  </div>

			  <div class="col-lg-6">
				<div class="box wow fadeInLeft" data-wow-delay="0.2s">
				  <div class="icon"><i class="fa fa-random"></i></div>
				  <h4 class="title"><a href="">Out of the box Connectors</a></h4>
				  <p class="description">
					Enterprise WECHAT, Dingding, Feishu, Huawei WeLink,SCIM 2,ActiveDirectory ,LDAP ,JDBC, etc Out of the box Connectors。
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInRight" data-wow-delay="0.2s">
				  <div class="icon"><i class="fa fa-legal"></i></div>
				  <h4 class="title"><a href="">Security Policy and Audit</a></h4>
				  <p class="description">Configuration of password policy, access strategy; strong security audit, user life cycle audit, access behavior record traceability audit, security compliance audit, security risk warning。</p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInLeft">
				  <div class="icon"><i class="fa fa-star"></i></div>
				  <h4 class="title"><a href="">Top IAM R & D team</a></h4>
				  <p class="description">
					The team members are senior experts IAM R & D and consulting experience.
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInRight" data-wow-delay="0.2s">
				  <div class="icon"><i class="fa fa-trophy"></i></div>
				  <h4 class="title"><a href="https://gitee.com/maxkeytop/MaxKey">Most Valuable Project</a></h4>
				  <p class="description">
					Gitee GVP-Most Valuable Project。
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInLeft">
				  <div class="icon"><i class="fa fa-tint"></i></div>
				  <h4 class="title"><a href="">Zero Trust</a></h4>
				  <p class="description">
					With digital identity as the cornerstone of comprehensive support for zero trust .
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInRight" data-wow-delay="0.2s">
				  <div class="icon"><i class="fa fa-creative-commons"></i></div>
				  <h4 class="title"><a href="{{ "/zh/about/cevsenterprise.html" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">Enterprise Edition</a></h4>
				  <p class="description">
					Improve the enterprise's customer experience and reduce internal development cost.
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInLeft">
				  <div class="icon"><i class="fa fa-bank"></i></div>
				  <h4 class="title"><a href="">Perfect Community</a></h4>
				  <p class="description">
					Perfect community, to provide you with a full range of consulting and technical support, while providing enterprise services。
				  </p>
				</div>
			  </div>
			  
			  <div class="col-lg-6">
				<div class="box wow fadeInRight" data-wow-delay="0.2s">
				  <div class="icon"><i class="fa fa-dollar"></i></div>
				  <h4 class="title"><a href="">Open source </a></h4>
				  <p class="description">
					Based on Apache License, Version 2.0，Open Source, Independent and Controllable。
				  </p>
				</div>
			  </div>
			  
			</div>

		  </div>
		</section><!-- #services -->
		
		
		<section id="contact" class="wow fadeInUp">
			<div class="container">
				<div class="section-header">
				  <h2>Community</h2>
				  <p>The community helps you get the latest version, provides a place for communication, discusses the development direction and technical solutions of the product, and solves the problems encountered in the development and deployment. Join us to build the community!</p>
				</div>

				<div class="row contact-info"> 

				  <div class="col-md-4">
					<div class="contact-address">
					  <div class="icon"><i class="fa fa-line-chart"></i></div>
					  <h3>Last Published</h3>
					  <address>Date: {{ site.publishDate }}| Version: <a href="{{ "/en/download.html" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">{{ site.publishVesion }}</a></address>
					</div>
				  </div>

				  <div class="col-md-4">
					<div class="contact-phone">
					  <div class="icon"><i class="fa fa-qq"></i></div>
					  <h3>QQ Group</h3>
					  <p>434469201</p>
					</div>
				  </div>

				  <div class="col-md-4">
					<div class="contact-email">
					  <div class="icon"><i class="fa fa-envelope-o"></i></div>
					  <h3>EMAIL</h3>
					  <p><a href="mailto:maxkeysupport@163.com">maxkeysupport@163.com</a></p>
					</div>
				  </div>

				</div>
			  </div>

			</div> 
		</section>
		<!-- #contact -->
		<section id="clients" class="wow fadeInUp">
		  <div class="container">
			<div class="section-header">
			  <h2>Partners</h2>
			  <p></p>
			</div>
			<div class="owl-carousel clients-carousel">
				<a href="https://dromara.org/projects/" target="_blank"><img src="{{ "/static/images/partners/dromara.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="Dromara"></a>
				<a href="https://www.denglu1.cn/" target="_blank"> <img src="{{ "/static/images/partners/denglu1.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="登录易®"></a>
				<a href="https://www.eolinker.com/" target="_blank"> <img src="{{ "/static/images/partners/eolinker.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="广州银云信息科技有限公司"></a>
				<a href="http://www.redoop.com/" target="_blank"><img src="{{ "/static/images/partners/redoop.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="红象云腾"></a>
				<a href="https://www.highgo.com/" target="_blank"><img src="{{ "/static/images/partners/highgo.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="瀚高基础软件股份有限公司"></a>
				<a href="https://gitee.com/" target="_blank"><img src="{{ "/static/images/partners/gitee.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="码云gitee"></a>
				<a href="http://ccflow.org/?from=MaxKey" target="_blank"><img src="{{ "/static/images/partners/ccbpmLogo.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="驰骋BPM官网"></a>
				<a href="https://hutool.cn/?from=MaxKey" target="_blank"><img src="{{ "/static/images/partners/hutool.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="hutool"></a>
			    <a href="https://justauth.wiki/" target="_blank"><img src="{{ "/static/images/partners/justauth.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="JustAuth"> </a>
				<a href="https://codoc.rthinkingsoft.cn/" target="_blank"><img src="{{ "/static/images/partners/collectiveoauth.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="CollectiveOAuth"></a>
				<a href="http://sa-token.dev33.cn/" target="_blank"><img src="{{ "/static/images/partners/sa-token.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="Sa-Token"></a>
				<a href="https://su.usthe.com/#/cn/" target="_blank"><img src="{{ "/static/images/partners/sureness.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="sureness"></a>
				<a href="https://www.phalapi.net/" target="_blank"><img src="{{ "/static/images/partners/phalapi.png" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="phalapi"></a>
				<a href="https://uniadmin.jiangruyi.com/" target="_blank"><img src="{{ "/static/images/partners/uniadmin.jpg" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="uniadmin"></a>
			 
			</div>

		  </div>
		</section>
		
	</main>
	 
    {% include en/footer.html %}
</body>
</html>
